<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Página de previsão do tempo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </meta>
  </head>
  <style>
    .center1 {
      margin: auto;
      margin-top:40px;
      width: 80%;
      background: #73AD21;
      padding: 10px;
    }
    table {
      width: 100%;
    }
    table, th, td {
      border: 1px solid black;
    }
    form {
      margin-left: 340px;
    }

  </style>
  <body>
    <div class="container">
      <div class="center1">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="cidade" placeholder="digite a cidade" value="">
          <input type="submit" name="" value="enviar">
        </form>
      </div>
      <div class="center1">
        {{cidades}}:
        <hr>
      <table>
        <tr>
          {% for descricao in descricoes %}
          <td>{{descricao}}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for valor in valores %}
          <td>{{valor}}</td>
          {% endfor %}
        </tr>
      </table>
    </div>
    {% for id in idcidade %}
    <h2 class="center1" >PREVISÃO PARA {{cidades}}</h2>
    <div class="center1" id="openweathermap-widget-11"></div>
    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: {{id}},appid: '664367e647856a4566da835890486c86',units: 'metric',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
    {% endfor %}
  </body>
</html>
